<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Task Title</ion-label>
    <ion-input [(ngModel)]="task.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Module</ion-label>
    <ion-input [(ngModel)]="task.module"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Location</ion-label>
    <ion-select [(ngModel)]="task.location">
      <ion-select-option value="Online">Online</ion-select-option>
      <ion-select-option value="In Class">In Class</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Due Date</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="task.date"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="saveChanges()">Save Changes</ion-button>
</ion-content>
