<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2>All Tasks</h2>

  <ng-container *ngIf="tasks.length > 0; else noTasks">
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-label>
        <h3>{{ task.title }}</h3>
        <p>{{ task.module }} — {{ task.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>

<ng-template #noTasks>
  <p>No tasks added yet.</p>
</ng-template>

<ion-button expand="block" (click)="goToAddTask()">Add New Task</ion-button>

</ion-content>
